---
import { Icon } from "astro-icon/components";
const { project } = Astro.props;

function formatDate(dateString) {
  const date = new Date(dateString);
  const options = { year: "numeric", month: "2-digit" };
  return date.toLocaleDateString("en-US", options);
}

function truncateDescription(description) {
  if (!description) return;
  if (description.length > 56) {
    return description.slice(0, 53) + "...";
  }
  return description;
}
---

<div class="py-4 border-t-[1px] border-gray-400">
  <h3 class="inline-flex items-center">
    <a
      class="text-[#4ba8f8] text-xl font-semibold hover:underline"
      href={project.html_url}
      target="_blank">{project.name}</a
    >
    {
      project.archived ? (
        <span class="ml-1 border text-[#9a6700] border-[#bf8700] rounded-full px-2 inline-block text-xs font-medium whitespace-nowrap">
          {project.visibility} archive
        </span>
      ) : (
        <span class="ml-1 border text-[#636c76] border-[#d0d7de] rounded-full px-2  inline-block text-xs font-medium whitespace-nowrap">
          {project.visibility}
        </span>
      )
    }
  </h3>
  <p
    class="col-9 d-inline-block color-fg-muted mb-2 pr-4 text-[#636c76] text-sm"
  >
    {project.description}
  </p>
  <div class="flex text-[#636c76] text-sm mt-2 gap-3">
    {
      project.language && (
        <div class="flex items-center gap-1">
          <span
            class={`h-3 w-3 inline-block rounded-full bg-[${project.language_color}]`}
            style={`background-color: ${project.language_color};`}
          />
          {project.language}
        </div>
      )
    }
    {
      project.license && (
        <span class="inline-flex items-center gap-1">
          <Icon name="octicon-law" />
          {project.license}
        </span>
      )
    }
    {
      project.updated_at && (
        <span>
          {formatDate(project.created_at)} - {formatDate(project.pushed_at)}
        </span>
      )
    }
  </div>
</div>

<style>
  .bg-\[\#67B8DE\] {
    background-color: "#67B8DE";
  }
</style>
